
@model ServiceVM

@{
    ViewData["Title"] = "Index";
}

    <!-- main section begin -->
<main>
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 home">
                    <span>Home / Services</span>
                    <h2>Services</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="menu mt-2 d-flex justify-content-between">
        <div class="container">
            <div class="row d-flex justify-content-between">
                @foreach (Card card in Model.Cards)
               {
                   <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box">
                        <div class="basket mt-5">
                            <div class="icon">
                                <i class="@card.Icon"></i>
                            </div>
                            <div class="title mt-2">
                                <h2>@card.Title</h2>
                            </div>
                            <div class="description mt-2">
                                <p>@card.Dexcription</p>
                            </div>
                        </div>
                    </div>
                </div>
               }
            </div>
        </div>
    </section>
    <section class="skills mt-3">
        <div class="container">
            <div class="row">
                @foreach (Skill skill in Model.Skills)
               {
                   <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="skil">
                        <h2>@skill.Title</h2>
                    </div>
                    <hr>
                    <div class="Magnam">
                        @skill.Description
                    </div>
                </div>
               }
            </div>
        </div>
    </section>
    <section class="diagram mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/assets/IMG/diagram-image/@layoutserice.GetDatas().Result.FirstOrDefault(i=>i.Key=="ProgressImage").Value" width="100%" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="about">
                        <h3>Voluptatem dignissimos provident quasi corporis voluptates</h3>
                    </div>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt direna past reda</p>
                    </div>
                    @foreach (ProgressBar prog in Model.Progresss)
                   {
                       <div class="programming d-flex justify-content-between mt-4">
                        <span>@prog.Program</span>
                        <span>@prog.Percent%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-danger"
                             role="progressbar" style="width: @prog.Percent%;"
                             aria-valuemax="25" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                   }
                </div>
            </div>
        </div>
    </section>
</main>
<!-- main section end -->
